* {
  box-sizing: border-box
}

html {
  background-color: #efefef;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.75;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1024px;
  width: 100%;
  min-height: 100%;
  padding-bottom: 2rem;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
}

.input-area, .output-area {
  padding-left: 20px;
  padding-right: 20px;
}

.input-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.output-area {
  background-color: #eee;
  flex: 2;
}

input, button {
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  display: block;
}

input {
  margin-top: 0px;
  margin-bottom: 8px;
}

button {
  margin-top: 8px;
  margin-bottom: 8px;
}

.common {
  color: red;
}